.clients__opinions {
  grid-column: 1/-1;
  font-size: var(--font-size-40);
  line-height: 1.7;
}
.clients__wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 4rem;
}
.clients__opinion {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  padding: 2rem 2rem;
  background-color: var(--color-background);
  border-radius: 2rem;
}
